[Desktop Entry]
Name=EXWM
Comment=Emacs Window Manager
Exec=sh /usr/local/sbin/start-exwm.sh
TryExec=sh
Type=Application
X-LightDM-DesktopName=exwm
DesktopNames=exwm